name: CassetteOverlayCI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} /w CassetteBase dev
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false # don't stop CI even when one of them fails
      matrix:
        include:
          - version: '1' # current stable
            os: ubuntu-latest
            arch: x64
          - version: '1.10' # lowerest version supported
            os: ubuntu-latest
            arch: x64
          - version: '1.11-nightly' # next release
            os: ubuntu-latest
            arch: x64
          - version: 'nightly' # dev
            os: ubuntu-latest
            arch: x64
          - version: '1' # x86 ubuntu
            os: ubuntu-latest
            arch: x86
          - version: '1' # x86 windows
            os: windows-latest
            arch: x86
          - version: '1' # x64 windows
            os: windows-latest
            arch: x64
          - version: '1' # x64 macOS
            os: macos-latest
            arch: x64
    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - name: dev CassetteBase # dev CassetteBase so that CassetteOverlay can be tested against a unreleased version
        shell: julia --color=yes --project=. {0} # this is necessary for the next command to work on Windows
        run: 'using Pkg; Pkg.develop(;path="./CassetteBase")'
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          file: ./lcov.info

  release-test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} /w CassetteBase released
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - version: '1' # current stable
            os: ubuntu-latest
            arch: x64
    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          file: ./lcov.info
